*.o
/shawffle.gb
/shawffle-map.txt
/shawffle.sym
/letter-tiles.bin
/background-tiles.bin
/background-palettes.bin
/sprite-tiles.bin
/sprite-palettes.bin
/font.bin
/level-select-palettes.bin
/level-select-sprite-palettes.bin
/shawffle.sav
/title-screen-map.bin
/title-screen-palettes.bin
/title-screen-tiles.bin
/title-screen-attributes.bin
